body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(#c1f1b6e4, #a2f460d8,#c7e7a0fb)no-repeat;
    justify-content: center;
    display: flex;
    align-items: center;
    
  }
  .page-header{
    text-align: center;
    justify-content: center;
    height: 60px;
    font-weight: bold;
    color: #000;
    font-size: 2rem;
    text-decoration: underline;
  }

.input-group{
    width: 200px;
    margin: 8px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 10%;
    padding: 12px 20px ;
    font-weight: bold;
    bottom: 100%;
    border: 1px solid #161915;
    box-sizing: border-box;
  }    
    
  button{
  background-color: lightgreen;
  color: #000;
  padding: 9px 13px;
  margin: 8px 0px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

form button:hover {
    opacity: 0.8;
}